[submodule "External"]
	path = External
	url = https://github.com/stramit/MaterialGraph.git/
	branch = NewUI
[submodule "Assets/TestScenes/Big"]
	path = Assets/TestScenes/Big
	url = https://github.com/Unity-Technologies/ScriptableRenderLoopScenes/
