struct FragInput
{
	float4 unPositionSS;
${VaryingAttributes}
};

void GetSurfaceAndBuiltinData(FragInput IN, out SurfaceData o, out BuiltinData builtinData)
{
	o = (SurfaceData)0;
	builtinData = (BuiltinData)0;
${PixelShaderBody}
}